.header {
    text-align: center;
    font-size: 1.5em;
    background-color: green;
  }
  
  .profile{
    text-align: right;
    font-size: 0.5em;

  }
  .footer {
    text-align: center;
    font-size: 0.75em;
    background-color: lightgreen;
  }